<p>
  <b>Name:</b>
  <%= @image.name %>
</p>

<p>
  <b>Title:</b>
  <%= @image.title %>
</p>

<p>
  <b>File path:</b>
  <%= @image.file_path %>
</p>


<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
